* { box-sizing: border-box; }
html, body {height: 100%;}
img { width: 100% }

.row {
   display: flex;
   flex-direction: column;
   width: 100%;
}
.row-inline {
   flex-direction: row;
}
.col-blue {
   background: blue;
   width: 100%;
   flex: 4;
   padding: 30px;
   /*display: flex;*/
   /*min-height: 100vh;*/
}
.col-blue img {
   border-radius: 50%;
   width: 200px;
   height: 200px;
   margin: auto;
   display: block;
   box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}
.coffee-button{
   display: block;
   border: 2px solid white;
   height: 20px;
   font-size: 15px;
   margin: 0 auto;
   border-radius: 5px;
   padding: 20px;
   color: white;
   margin-top: 30px;
   background-color: transparent;
   padding-bottom: 36px;

}
.button-arrow {
       float: right;
       padding-left: 40px;
   }
.col-blue-text{
   color: white;
   margin-top: 100px;
   font-size: 30px;
   text-align: center;
   font-weight: bold;
}
.ampersand{
   font-weight: lighter;
}
.Howdie{
   display: block;
   font-size: 15px;
   /*text-transform: uppercase;*/
   font-weight: lighter;
   margin-top: 30px;
   margin-bottom: 30px;
   opacity: .5;
}
.bottom-row-text{
   padding: 10px;
   padding-bottom: 0;
   margin-top: 300px;
   /*bottom: 0;
   position: fixed;*/
}
.col-bottom-left {
   flex: 1;
   float: left;
}
.col-bottom-right {
   flex: 1;
   float: right;
}
.col-info {
   width: 100%;
   background: white;
   flex: 3;
   font-size: 15px;
   padding: 50px;
}
.col-middle-desktop {
   display:none;
   width: 100%;
   background: white;
   flex: 1;
}
@media all and (min-width: 554px) {
   .row {
       flex-direction: row;
   }
   .col-blue{}

   .col-info{}
}
@media all and (min-width: 554px) and (max-width: 900px) {
   .col-blue{
      flex: 1;
   }
   .col-info{
      flex: 1;
   }
   /*.bottom-row-text{
      padding: 10px;
      padding-bottom: 0;
      margin-top: 300px;
      bottom: 0;
      position: fixed;
      display: flex;
   }*/
   .col-bottom-left {
      flex: 1;
      float: left;
   }
   .col-bottom-right {
      flex: 1;
      float: right;
   }
}
@media all and (min-width: 900px) {
   .col-middle-desktop {
       display: block;
   }
   .blue-header{
      display: none;
   }
   .col-info > p{
      width: 400px;
   }
   .bottom-row-text{
      padding: 10px;
      padding-bottom: 0;
      margin-top: 300px;
      bottom: 0;
      position: fixed;
      display: flex;
   }
   .col-bottom-left {
      flex: 1;
      float: left;
   }
   .col-bottom-right {
      flex: 1;
      text-align: right;
   }
}
.white-text{
   color: white;
   font-size: 15px;
   margin-top: 30px;
   margin-bottom: 30px;
   word-spacing: 5px;
}
.blue-header{
   color: #075AFF;
   font-size: 15px;
}
.col-info > p{
   font-weight: lighter;
   line-height: 20px;
}
.about-list{
   padding-left: 5px;
   list-style: none;
   font-size: 15px;
   line-height: 25px;
   font-weight:bold;
}
.blue-carrot{
   word-spacing: 20px;
   color: blue;
}
h3{
   font-weight:bold;
   font-size: 20px;
}
.blue-header-middle{
   color: #075AFF;
   font-size: 15px;
   margin-top: 65px;
   text-align: right;
}
#projects-push{
   margin-top: 405px;
}
